<div class="container">
<div class="s-block--features">
<div class="s-block--features__item">
<i class="feature-icon sicon-store2"></i>
<div>
<h2>منتجات مضمونه</h2>
<p>مدفوعات آمنة أقساط تصل إلى 12 شهرًا</p>
</div>
</div>
<div class="s-block--features__item">
<i class="feature-icon sicon-shipping-fast"></i>
<div>
<h2>شحن مجاني</h2>
<p>مدفوعات آمنة أقساط تصل إلى 12 شهرًا</p>
</div>
</div>
<div class="s-block--features__item">
<i class="feature-icon sicon-fire"></i>
<div>
<h2>مدفوعات آمنة</h2>
<p>مدفوعات آمنة أقساط تصل إلى 12 شهرًا</p>
</div>
</div>
</div>
</div>