<!-- Basic Salla Slider component Usage -->
<section class="s-block main-custom-sider s-block--enhanced-photos-slider s-block--full-bg "> 

<salla-slider id="thumbs" show-controls="true" type="thumbs" Grid-thumbs="false" 
show-thumbs-controls="false"
 slider-config = "{
             &quot;effect&quot;:&quot;fade&quot;,&quot;speed&quot;:1000       
            }" >
  <div slot="items" class="items">
    <img src="https://picsum.photos/1200/400?random=1">
    <img src="https://picsum.photos/1200/400?random=3">
    <img src="https://picsum.photos/1200/400?random=2">
    <img src="https://picsum.photos/1200/400?random=4">
    <img src="https://picsum.photos/1200/400?random=5">
    <img src="https://picsum.photos/1200/400?random=6">
  </div>
  
  <div slot="thumbs">
    <img src="https://picsum.photos/1200/400?random=1">
    <img src="https://picsum.photos/1200/400?random=3">
    <img src="https://picsum.photos/1200/400?random=2">
    <img src="https://picsum.photos/1200/400?random=4">
    <img src="https://picsum.photos/1200/400?random=5">
    <img src="https://picsum.photos/1200/400?random=6">
  </div>
</salla-slider>
</section>

<script>
    const customSlider = document.querySelector('.main-custom-sider .items');
    const itemCount = customSlider.children.length;
    var style = document.createElement('style');
    style.innerHTML = `
        .main-custom-sider .s-slider-block__title-nav::before {
            content: ' ${itemCount}';
        }
      `;
    document.head.appendChild(style);
</script>
<style>
.main-custom-sider salla-slider.enhanced-photos-slider {
    position: relative;
    overflow: hidden;
}

.main-custom-sider salla-slider .s-slider-block__title-nav{
      background-color: rgba(255, 255, 255, .8);
}
.main-custom-sider .s-slider-thumbs .s-slider-thumbs-container .swiper-slide {
  border-radius: 0 !important;

 }
 .main-custom-sider .s-slider-thumbs .s-slider-thumbs-container .swiper-slide.swiper-slide-thumb-active{
  border-radius: 10px  !important;
  border: 1px dotted #333 !important;
  padding: 2px;
  transition: all .3s ease;
}
 .main-custom-sider .s-slider-nav-arrow {
  border: 1px dotted #333 !important;
  --tw-shadow-color: 0 !important;
  background: none !important;
}
.main-custom-sider .s-slider-v-centered .s-slider-block__title-nav{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 0;
    height: 20rem;
    height: calc(100% - 90px);
    bottom: 0;
    width: 7rem;
    left: auto;
    --tw-translate-y: 0px;
    --tw-translate-x: 0px;
    --tw-scale-y: 1;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.main-custom-sider .s-slider-block__title-nav::before { 
    position: absolute;
    top: 50%;
    left: 50%;
    --tw-translate-y: -50%;
    --tw-translate-x: -50%;
    color: black;
    font-weight: bold;
    padding: 5px;
    font-size: 50px;
}

[dir=rtl] .main-custom-sider .s-slider-v-centered .s-slider-block__title-nav{
  right:0
}



</style>
